@using BackOffice.Components.Pages
@inherits LayoutComponentBase

<div class ="wrapper">
    <div class="sidebar">
        <BackOffice.Components.Sections.NavMenuPage />
    </div>
    <main>
        @Body
    </main>
</div>


